{% set ctrl_ip = hostvars[groups['controllers'][0]]['wg_ip'] %}
[DEFAULT]
transport_url = rabbit://openstack:{{ rabbit_pass }}@{{ ctrl_ip }}:5672/
my_ip = {{ wg_ip }}
log_dir = /var/log/nova
state_path = /var/lib/nova
instances_path = /var/lib/nova/instances

[api]
auth_strategy = keystone

[keystone_authtoken]
www_authenticate_uri  = http://{{ ctrl_ip }}:5000/
auth_url              = http://{{ ctrl_ip }}:5000/
memcached_servers     = {{ ctrl_ip }}:11211
auth_type             = password
project_domain_name   = Default
user_domain_name      = Default
project_name          = service
username              = nova
password              = {{ nova_pass }}

[vnc]
enabled = true
server_listen = 0.0.0.0
server_proxyclient_address = {{ wg_ip }}
novncproxy_base_url = http://{{ ctrl_ip }}:6080/vnc_lite.html

[glance]
api_servers = http://{{ ctrl_ip }}:9292

[oslo_concurrency]
lock_path = /var/lib/nova/tmp

[placement]
region_name         = RegionOne
project_domain_name = Default
project_name        = service
auth_type           = password
user_domain_name    = Default
auth_url            = http://{{ ctrl_ip }}:5000/v3
username            = placement
password            = {{ placement_pass }}

[neutron]
auth_url            = http://{{ ctrl_ip }}:5000
auth_type           = password
project_domain_name = Default
user_domain_name    = Default
region_name         = RegionOne
project_name        = service
username            = neutron
password            = {{ neutron_pass }}

[libvirt]
virt_type           = kvm
connection_uri      = qemu:///system
